body {
    font-family: sans-serif;
}

/*!important is a property styling to make the browser consider it as important regardless the order. */
h3 {
    color: #06a6ca !important;
}

h2, h3 {
    color: #00a2c6;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}